@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}

:root {
  --lightgray: #D9D9D9;
  --gray: #9c9c9c;
  --orange: #f48915;
  --darkGrey: #464D53;
  --caloryCard: #656565;
  --planCard: linear-gradient(210.41deg, #fa5042 1.14%, #ffa739 100.75%);
  --menuCard: linear-gradient(210.41deg, #24262b, #656565);
  --fade: linear-gradient(to left, #000000, rgba(101, 101, 101, 0));
  --appColor:  #ffffff;

  
}

::-webkit-scrollbar{
  display: none;
}
  
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #757575; */
  background-color: #333333;
}

h1{
  font-weight: bold;
  font-size: 5rem;  

}

h2{
    font-weight: bold;
    font-size: 1.5rem;

}

  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-fade {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.btn--main{
  background: black;
  padding: 0.5rem 1rem;
  min-width: 7rem;
  color: white;
  line-height: 1.5rem;
  border: 1px solid rgb(83, 83, 83);
  border-radius: 1rem;
  transition: all 1s;
}
.btn--main:hover{
  transform: scale(1.1);
}

.btn--secondary{
  background: white;
  padding: 0.5rem .5rem;
  width: 7rem;
  color: black;
  line-height: 1.5rem;
  border: 1px solid rgb(83, 83, 83);
  border-radius: 1rem;
  transition: all 1s;
}
.btn--secondary:hover{
  transform: scale(1.1);
}

.stroke-text{
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.title{
    font-weight: bold;
    font-size: 7rem;
}

h1{
  font-weight: bold;
  font-size: 3rem;
}

h2{
  font-weight: bold;
  font-size: 1.5rem;
}

p{
  font-size: 1.2rem;
}

.blur-st{
  background: rgba(253, 120, 43, 0.20);
  position: absolute;
  border-radius: 50%;
  filter: blur(150px);
}

.spotlight{
  background: rgb(255, 255, 255);
  position: absolute;
  border-radius: 50%;
  filter: blur(150px);
  z-index: -1;
}

@media screen and (  768px < width <= 1900px ) {
  .title{
    font-weight: bold;
    font-size: 5rem;
}
  h1{
    font-size: 2.5rem;
  }
  h2{
    font-weight: bold;
    font-size: 1rem;
  }
  p{
    font-size: 1rem;
  }
}

@media screen and ( width <= 768px ) {
  .title{
    font-weight: bold;
    font-size: 2rem;
  }
  h1{
      font-size: 1.75rem;
  }
  h2{
      font-size: 1rem;
  }
  p {
      font-size: .75rem;
  }

  .btn--mobile{
    width: 8rem;
    margin-right: 0;
  }
  .mobile--hide{
    display: none;
  }
}
